# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars

# dbt
target/
dbt_packages/
logs/
dbt.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# Local Data
*.csv
*.json
scratch/
