[core]
# The home folder for airflow
airflow_home = /opt/airflow
# The folder where your airflow pipelines live, most likely a subfolder in a code repository.
dags_folder = /opt/airflow/dags

# Do not load examples in enterprise environment
load_examples = False
# Pause DAGs when they are first detected
dags_are_paused_at_creation = True

# Executor configuration (Overridden by ENV variables in Production)
executor = CeleryExecutor

# High Availability Configurations
parallelism = 32
max_active_tasks_per_dag = 16
max_active_runs_per_dag = 16

[database]
# Metadata database connections are handled securely via env vars

[logging]
# Local logging base
base_log_folder = /opt/airflow/logs
# Remote logging (Enabled in Production)
remote_logging = False
# remote_base_log_folder = s3://omniretail-airflow-logs-prod
# remote_log_conn_id = aws_default

[secrets]
# AWS Secrets Manager Integration
# backend = airflow.providers.amazon.aws.secrets.secrets_manager.SecretsManagerBackend
# backend_kwargs = {"connections_prefix": "airflow/connections", "variables_prefix": "airflow/variables"}

[webserver]
# Base URL for Webserver
base_url = http://localhost:8080
# Expose stack traces in UI (False in Prod)
expose_config = True
expose_stacktrace = True
